# Python
backend/venv/
backend/__pycache__/
backend/app/__pycache__/
backend/.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# OpenSearch
opensearch/data/
opensearch/logs/
firebase-adminsdk.json

# Misc
*.log
*.pyc
.DS_Store
archive.zip
venv
.env
