@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply relative min-h-screen;
}

.main-content {
  @apply relative z-10;
}
.bg-custom {
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
